* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica;
}

body {
  background-color: #084D6E;
  padding: 3em;
  display: flex;
  align-items: flex;
  justify-content: center;
}

#calc {
  width: 330px;
  padding: .5em;
  display: flex;
  color: #000;
  flex-direction: column;
  background-color: #c4c4c4;
  align-items:flex-end;
  border: 1px solid #fff;
}

#calc h3 {
  font-size: .8em;
  font-weight: 300;
  color: #666;
  margin-right: auto;
}

#operations {
  text-align: right;
}

#current-operation,
#previous-operation {
  overflow-wrap: break-word;
  min-height: 1.6em;
}

#previous-operation {
  color: #777;
  padding: .2em;
  padding-bottom: 0px;
}

#current-operation {
  font-size: 3em;
  font-weight: 500;

}

.btn {
  border-radius: 50%;
  padding: 0.1em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 4px;
  width: 310px;
  height: 380px;
  text-align: right;
}

.btn button {
  border-radius: 50%;
  border: none;
  font-size: 25px;
  background-color: #dbdbdb;

}

.btn-numbers {
  background-color: #fefefe !important;
  border: 1px solid transparent;
  cursor: pointer;
}

#equal-btn {
  border-radius: 5% !important;
  background-color: #75a5cb;
}

.btn button:hover {
  background-color: #bababa;
  border: #999;
}

.btn-numbers button:hover{
  background-color: #bababa;

}

#equal-btn:hover {
  background-color: #3a91d8;
}



